body {
  background-color: #cccccc;
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  height: 100vh;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

.container.contact-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: stretch;
  width: 100%;
  height: auto;
  padding-top: 5%;
  margin: 0;
}

.left-side, .right-side {
  flex: 1;
  padding: 40px;
  box-sizing: border-box;
  position: relative;
  animation: fadeIn 1.5s ease-in forwards;
  opacity: 0;
}

.left-side {
  background: linear-gradient(to bottom, #1c42fd, #3ce9e7);
  color: white;
  text-align: left;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
}

.right-side {
  background: white;
  font-weight: bold;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
  position: relative;
}

.btn-gradient {
  background: linear-gradient(to right, #1c42fd, #3ce9e7);
  font-size: 20px;
  border: none;
  color: white;
  width: 100%;
  transition: opacity 0.3s;
}

.btn-gradient:hover {
  opacity: 0.9;
}

.corner-image {
  position: absolute;
  top: 0;
  right: 0;
  width: 400px;
  height: auto;
  transform: scaleY(-1) scaleX(-1);
  z-index: 10;
  animation: fadeIn 1.5s ease-in forwards;
  opacity: 0;
}

/* Media queries untuk layar yang lebih kecil */
@media (max-width: 768px) {
body {
  padding-top: 0;
}

.left-side, .right-side {
  flex: 100%;
  max-width: 100%;
  padding: 20px;
}

.container.contact-container {
  height: auto;
  min-height: 100vh;
  padding: 10px;
  margin-bottom: 0;
}

.corner-image {
  width: 150px;
  position: absolute;
  top: 0;
  right: 0;
  transform: scaleY(-1) scaleX(-1);
}

.btn-gradient {
  font-size: 18px;
}
}

@media (max-width: 576px) {
.container.contact-container {
  flex-direction: column;
  padding: 0;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
  font-size: 12px;
}

.left-side, .right-side {
  height: auto;
  padding: 10px;
  text-align: left;
}

.btn-gradient {
  font-size: 16px;
}

.corner-image {
  width: 250px;
  transform: scaleY(-1) scaleX(-1);
}
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 2;
  }
}