/* Global Style */
body {
  font-family: "Arial", sans-serif;
  background-color: #f8f9fa;
  color: #333;
  height: 100%;
}

/* Navbar */
.navbar {
  background: white;
  border-bottom: 20px #000000;
}

.navbar-gradient-shadow{
  position: relative;
}

.navbar-gradient-shadow::before{
  content: '';
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 5px; /* Adjust the height of the shadow */
  background: linear-gradient(to right, #1C42FD, #00B4BA);
  z-index: -1;
}

.navbar-brand {
  font-size: 1.5rem;
  font-weight: bold;
}

.navbar-brand span {
  color: #00bfa6;
}

.nav-link {
  font-weight: 500;
}

.nav-link.active {
  color: #000000 !important;
}

/* Page Title */
h1 {
  font-size: 3rem;
  font-weight: bold;
  margin-top: 30px;
}

/* Search Bar */
.input-group .btn {
  background: linear-gradient(to right, #00B4BA, #60EFB8);
  border: none;
  color: #fff;
}

/* Categories Buttons */
button.btn-outline-success {
  background: linear-gradient(to right, #00B4BA, #60EFB8);
  border: none;
  color: #ffffff;
}

button.btn-outline-success:hover {
  background-color: #00bfa6;
  color: #fff;
}

/* Gambar */
.corner-image {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: -1;
  max-width: 400px;
}

.content-section {
  margin-top: 375px;
}

/* Cards */
.card {
  border: none;
  border-radius: 15px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.card-title {
  font-size: 1.2rem;
  font-weight: bold;
}

.card-body p {
  font-size: 0.9rem;
  color: #666;
}

/* Pagination */
.pagination .page-link {
  color: #00bfa6;
  border: none;
}

.pagination .page-link:hover {
  background-color: #00bfa6;
  color: #fff;
}

/* Footer */
footer {
  background: #212529;
  color: #fff;
  width: 100%;
}

footer h5 {
  font-size: 1rem;
  font-weight: bold;
}

footer p {
  font-size: 0.9rem;
  margin: fixed;
}

footer a {
  color: #00bfa6;
  text-decoration: none;
}

footer a:hover {
  text-decoration: underline;
}

/* Blog Decoration */
.blog-decoration {
  position: absolute;
  top: 30%;
  left: 5%;
  opacity: 0.2;
}

.blog-decoration img {
  width: 200px;
}
/* Navbar Category Button with Gradient Border */
.navbar .dropdown-toggle {
  border: 2px solid transparent;
  border-image: linear-gradient(to right, #00B4BA, #60EFB8) 1;
  padding: 6px 15px;
  color: #000000;
  background-color: transparent;
  font-weight: 500;
  transition: all 0.3s ease;
}

.navbar .dropdown-toggle:hover {
  background-image: linear-gradient(to right, #00B4BA, #006F76);
  color: #fff;
}

.dropdown-menu {
  border-radius: 10px;
  border: none;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.dropdown-item {
  padding: 10px 20px;
}

.dropdown-item:hover {
  background-color: #00bfa6;
  color: #fff;
}

.img {
  width: 50px;
  height: auto;
  margin-right: 10px;
}
